@mixin customScrollbar {
    /* For both vertical and horizontal scrollbars */
    &::-webkit-scrollbar {
        width: 5px;           /* For vertical scrollbars */
        height: 5px;          /* For horizontal scrollbars */
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;  /* Make it transparent just like on iPhones */
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);   /* Slightly transparent black */
        border-radius: 5px;              /* Rounded edges */
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);   /* Slightly more opaque black on hover */
    }

    /* Handle when active (clicked on) */
    &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, 0.5);   /* Even more opaque black when clicked on */
    }
}