<div id="loadingScreen">
  <div class="loader"></div>
  <div id="loading-bar">
      <div id="progress"></div>
  </div>
  <h3 id="percent-complete"></h3>
</div>
<script>
  const loading = () => {
      const loadingScreen = document.getElementById('loadingScreen')
      loadingScreen.style.visibility = 'visible';
      loadingScreen.style.display = 'grid';
  }
  const doneLoading = () => {
      const loadingScreen = document.getElementById('loadingScreen')
      loadingScreen.style.visibility = 'hidden';
      loadingScreen.style.display = 'none';
  }
</script>