.back-btn-container {
  display: flex;
  width: 1500px;
  max-width: 90vw;
  margin: 0 auto;
}

.back-btn {
  padding: 1rem 0;
  color: currentColor;
  text-decoration: none;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}

phc-series-finder {
  width: 1500px;
  max-width: 90vw;
  margin: 1rem auto;
  display: block;

  .series-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    color: white;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 512px) {
      grid-template-columns: 1fr;
    }

    .series {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &:focus-within {
        outline: 2px solid black;
        outline-offset: 2px;

      }

      &:hover,
      &:focus-within {

        .series-image-container img {
          transform: scale(1.05);
        }
      }

      a,
      p {
        color: inherit;
        text-decoration: none;
        margin: 0;
        display: block;
      }

      .series-banner {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, .75);
        padding: 0.75rem;
        box-sizing: border-box;
        z-index: 1;

        p {
          font-weight: bold;
        }

        a {
          background: none;
          padding: 0;
          text-transform: none;
          font-weight: normal;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .series-image-container {
        overflow: hidden;
        aspect-ratio: 16 / 9;

        img {
          width: 100%;
          height: 100%;
          display: block;
          transition: transform 250ms ease;
        }
      }

      .view-more-link {
        background-color: #7B2D26;
        border-top: 1px solid black;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.75rem;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }

  .series-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      margin: 1rem 0;
      padding: 0.75rem 1rem;
      border: none;
      background-color: #7B2D26;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

phc-series-details {
  width: 1500px;
  max-width: 90vw;
  display: block;
  margin: 1rem auto;

  .series-details-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ecf0f1;

    .series-head-row {
      display: flex;
      padding: 0 1rem;
      justify-content: space-between;

      .series-title {
        color: black;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        padding: .5rem;
      }

      a {
        color: black;
        text-decoration: none;
        padding: 1rem 0;
        text-transform: uppercase;
        white-space: nowrap;

        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
  }

  .series-row {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    font-size: 18px;

    .sermon-image-container {
      box-sizing: border-box;
      width: 50%;
      padding-right: 0;

      img {
        width: 100%;
        display: block;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }

      .series-info-row {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 1rem;
      }
    }

    .series-info-row p {
      margin: 0;
      margin-right: 2rem;
      padding: 0;
    }

    .series-info-row button {
      margin-left: auto;
      padding: .75rem 1rem;
      border: none;
      background-color: #7B2D26;
      color: white;
      height: max-content;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 4px;
      cursor: pointer;
      white-space: nowrap;
    }
  }

  .sermon-content {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    box-sizing: border-box;
    width: 50%;
    aspect-ratio: 2;
    padding: .25rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(50, 50, 50, 0.25);

    .messages {
      display: flex;
      width: 100%;
      background-color: white;
      cursor: pointer;
      text-decoration: none;
      color: currentColor;

      img {
        display: block;
        max-width: 40%;
        align-self: center;
        box-shadow: rgba(50, 50, 50, 0.25) 2px 0px 6px 0px;
        transition: transform 100ms linear;
      }

      .sermon-info {
        padding: 0 1rem;
        width: 100%;

        p {
          margin: .5rem 0;
          padding: 0;
        }

        .sermon-title {
          font-weight: bold;
          color: steelblue;
        }
      }

      &:hover {
        background-color: rgba(255, 255, 255, .75);

        img {
          transform: translateX(2.5px);
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .series-row {
      flex-direction: column;

      .sermon-image-container {
        margin: 0 auto;
        width: 75%;
      }

      .sermon-content {
        width: 100%;
        overflow: visible;
        max-height: none;
        height: auto;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .series-row .sermon-image-container {
      width: 100%;
    }

    .series-details-container .series-head-row {
      flex-wrap: wrap;

      .series-title {
        order: 999;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 512px) {
    .sermon-content {
      gap: .5rem;

      .messages {
        flex-direction: column;

        img {
          max-width: 100%;
        }

        .sermon-info {
          box-sizing: border-box;
          padding: 1rem;
        }
      }
    }
  }
}

phc-sermon-player {
  width: 100%;
  display: block;

  .video-player-container {
    background: black;
    display: grid;
    place-items: center;

    .video-player {
      margin: 0 auto;
      width: 1000px !important;
      height: auto !important;
      max-width: 100vw;
      aspect-ratio: 16 / 9;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      svg {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 3rem;
        filter: drop-shadow(0px 0px 5px #0008);
      }
    }
  }

  .sermon-details {
    width: 1500px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #ecf0f1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 18px;

    h3 {
      margin-top: 1rem;
    }

    .title-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      h1,
      p {
        margin: 0;
      }

      .sermon-links-container {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        a,
        button {
          padding: 0.75rem 1rem;
          text-decoration: none;
          border: none;
          background-color: #7B2D26;
          color: white;
          font-weight: bold;
          text-transform: uppercase;
          border-radius: 4px;
          cursor: pointer;
          white-space: nowrap;
          height: max-content;
        }
      }
    }
  }

  .other-sermons {
    width: 100%;
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    overflow-x: auto;
    background-color: rgba(50, 50, 50, 0.25);

    a {
      text-decoration: none;
      flex-shrink: 0;
      position: relative;
      width: 33%;
      max-width: 500px;

      img {
        display: block;
        width: 100%;
      }

      .sermon-image-overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, .75);
        color: white;
        padding: 1rem;
        opacity: 0;
        transition: opacity 150ms linear;

        &:hover {
          opacity: 1;
        }

        h1 {
          margin: 0;
          font-size: clamp(1.5rem, 3vw, 2rem);
          color: white;
        }

        p {
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width:1024px) {
    .sermon-details {
      .title-row {
        flex-direction: column;
        gap: .5rem;
      }
    }

    .other-sermons {
      justify-content: flex-start !important;

      a {
        width: 55%;
      }
    }
  }

  @media screen and (max-width:768px) {
    .other-sermons a {
      width: 80%;
    }
  }
}