.phc-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid white;
  color: white;
  background-color: #7b2d26;
  text-transform: uppercase;
  font-weight: 200;
}

.loader-container {
  width: 100%;
  height: 60px;
  position: relative;
  display: grid;
  place-items: center;
}
.loader-container .loader-ring {
  position: absolute;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 5px solid #4a95ec;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loaderRotate 1.25s infinite linear;
}
.loader-container .loader-ring::before, .loader-container .loader-ring::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg) translateX(27.5px);
  width: 5px;
  height: 5px;
  background-color: #4a95ec;
}
.loader-container .loader-ring::after {
  transform: translate(-50%, -50%) rotateZ(-135deg) translateX(27.5px);
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.article-filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}
.article-filters .filter-option {
  position: relative;
  background-color: #f6f7f9;
  border-radius: 4px;
  width: 100%;
  min-width: 140px;
}
.article-filters .filter-option select,
.article-filters .filter-option input {
  box-sizing: border-box;
  border: none;
  padding: 28px 13px 12px 13px;
  width: 100%;
  background-color: inherit;
}
.article-filters .filter-option select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="black"><polygon points="0,0 100,0 50,50"/></svg>') no-repeat 95% 50% !important;
  background-size: 12px !important;
  background-position: calc(100% - 20px) center !important;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.article-filters .filter-option label {
  padding: 2px 5px;
  font-size: 12px;
  position: absolute;
  left: 5px;
  top: 1px;
}

.article-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  width: 1500px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .article-filters,
  .article-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 525px) {
  .article-filters,
  .article-card-container {
    grid-template-columns: 1fr;
  }
}

.article-card {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article-card .background-image-container {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.article-card .background-image-container img {
  width: 100%;
  height: 100%;
  display: block;
}
.article-card .article-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-content: end;
  width: 100%;
  padding: 5%;
  background: linear-gradient(transparent 50%, #000);
}
.article-card .article-card-content * {
  text-shadow: #000 0 0 8px;
}
.article-card .article-card-content p,
.article-card .article-card-content h1 {
  margin: 0;
  padding: 0;
  color: white;
}
.article-card .article-card-content p.left,
.article-card .article-card-content h1.left {
  margin-right: auto;
}
.article-card .article-card-content p.right,
.article-card .article-card-content h1.right {
  margin-left: auto;
}
.article-card .article-card-content h1 {
  grid-column: 1/3;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: bold;
}
.article-card .article-card-content .read-time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
}
.article-card.large {
  max-width: none;
  font-size: 1.2em;
}
.article-card.large h1 {
  font-size: clamp(1rem, 3.6vw, 2.5rem);
}
.article-card.large .article-card-content {
  padding: 2.5%;
}

phc-article {
  width: 1000px;
  max-width: 90vw;
  margin: 2rem auto;
  display: grid;
}
phc-article .article-content {
  margin: 1rem;
}
phc-article .author-container {
  display: flex;
  margin: 0 2rem;
}
phc-article .author-container .author-content {
  flex: 1;
  padding: 0.5rem;
  padding-right: 2rem;
  border-right: 1px solid black;
}
phc-article .author-container .author-content .author-pfp-container {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 4px solid #7b2d26;
  outline-offset: 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
phc-article .author-container .author-content .author-name {
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
phc-article .author-container .author-bio {
  flex: 6;
  padding: 0.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
phc-article .author-container .author-bio p {
  margin: 0;
}
phc-article .author-container .author-bio .author-socials {
  display: flex;
  margin-top: auto;
  font-size: 1.5rem;
  gap: 0.5rem;
}
phc-article .author-container .author-bio .author-socials a {
  color: black;
}
@media screen and (max-width: 768px) {
  phc-article .author-container {
    flex-direction: column;
  }
  phc-article .author-container .author-content {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
  }
  phc-article .author-container .author-content .author-pfp-container {
    width: 75px;
  }
  phc-article .author-container .author-content .author-name {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
  phc-article .author-container .author-bio {
    padding: 0;
    padding-top: 1rem;
  }
}

.back-btn-container {
  display: flex;
  width: 1500px;
  max-width: 90vw;
  margin: 0 auto;
}

.back-btn {
  padding: 1rem 0;
  color: currentColor;
  text-decoration: none;
  font-size: 1.5rem;
}
.back-btn:hover {
  text-decoration: underline;
}

phc-series-finder {
  width: 1500px;
  max-width: 90vw;
  margin: 1rem auto;
  display: block;
}
phc-series-finder .series-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: white;
}
@media screen and (max-width: 768px) {
  phc-series-finder .series-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 512px) {
  phc-series-finder .series-card-container {
    grid-template-columns: 1fr;
  }
}
phc-series-finder .series-card-container .series {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
phc-series-finder .series-card-container .series:focus-within {
  outline: 2px solid black;
  outline-offset: 2px;
}
phc-series-finder .series-card-container .series:hover .series-image-container img, phc-series-finder .series-card-container .series:focus-within .series-image-container img {
  transform: scale(1.05);
}
phc-series-finder .series-card-container .series a,
phc-series-finder .series-card-container .series p {
  color: inherit;
  text-decoration: none;
  margin: 0;
  display: block;
}
phc-series-finder .series-card-container .series .series-banner {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.75rem;
  box-sizing: border-box;
  z-index: 1;
}
phc-series-finder .series-card-container .series .series-banner p {
  font-weight: bold;
}
phc-series-finder .series-card-container .series .series-banner a {
  background: none;
  padding: 0;
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
}
phc-series-finder .series-card-container .series .series-banner a:hover {
  text-decoration: underline;
}
phc-series-finder .series-card-container .series .series-image-container {
  overflow: hidden;
  aspect-ratio: 16/9;
}
phc-series-finder .series-card-container .series .series-image-container img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 250ms ease;
}
phc-series-finder .series-card-container .series .view-more-link {
  background-color: #7B2D26;
  border-top: 1px solid black;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}
phc-series-finder .series-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
phc-series-finder .series-button-container button {
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #7B2D26;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

phc-series-details {
  width: 1500px;
  max-width: 90vw;
  display: block;
  margin: 1rem auto;
}
phc-series-details .series-details-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ecf0f1;
}
phc-series-details .series-details-container .series-head-row {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}
phc-series-details .series-details-container .series-head-row .series-title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.5rem;
}
phc-series-details .series-details-container .series-head-row a {
  color: black;
  text-decoration: none;
  padding: 1rem 0;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
phc-series-details .series-row {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-size: 18px;
}
phc-series-details .series-row .sermon-image-container {
  box-sizing: border-box;
  width: 50%;
  padding-right: 0;
}
phc-series-details .series-row .sermon-image-container img {
  width: 100%;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
phc-series-details .series-row .sermon-image-container .series-info-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
phc-series-details .series-row .series-info-row p {
  margin: 0;
  margin-right: 2rem;
  padding: 0;
}
phc-series-details .series-row .series-info-row button {
  margin-left: auto;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #7B2D26;
  color: white;
  height: -moz-max-content;
  height: max-content;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
phc-series-details .sermon-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-sizing: border-box;
  width: 50%;
  aspect-ratio: 2;
  padding: 0.25rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(50, 50, 50, 0.25);
}
phc-series-details .sermon-content .messages {
  display: flex;
  width: 100%;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
}
phc-series-details .sermon-content .messages img {
  display: block;
  max-width: 40%;
  align-self: center;
  box-shadow: rgba(50, 50, 50, 0.25) 2px 0px 6px 0px;
  transition: transform 100ms linear;
}
phc-series-details .sermon-content .messages .sermon-info {
  padding: 0 1rem;
  width: 100%;
}
phc-series-details .sermon-content .messages .sermon-info p {
  margin: 0.5rem 0;
  padding: 0;
}
phc-series-details .sermon-content .messages .sermon-info .sermon-title {
  font-weight: bold;
  color: steelblue;
}
phc-series-details .sermon-content .messages:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
phc-series-details .sermon-content .messages:hover img {
  transform: translateX(2.5px);
}
@media screen and (max-width: 1024px) {
  phc-series-details .series-row {
    flex-direction: column;
  }
  phc-series-details .series-row .sermon-image-container {
    margin: 0 auto;
    width: 75%;
  }
  phc-series-details .series-row .sermon-content {
    width: 100%;
    overflow: visible;
    max-height: none;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  phc-series-details .series-row .sermon-image-container {
    width: 100%;
  }
  phc-series-details .series-details-container .series-head-row {
    flex-wrap: wrap;
  }
  phc-series-details .series-details-container .series-head-row .series-title {
    order: 999;
    width: 100%;
  }
}
@media screen and (max-width: 512px) {
  phc-series-details .sermon-content {
    gap: 0.5rem;
  }
  phc-series-details .sermon-content .messages {
    flex-direction: column;
  }
  phc-series-details .sermon-content .messages img {
    max-width: 100%;
  }
  phc-series-details .sermon-content .messages .sermon-info {
    box-sizing: border-box;
    padding: 1rem;
  }
}

phc-sermon-player {
  width: 100%;
  display: block;
}
phc-sermon-player .video-player-container {
  background: black;
  display: grid;
  place-items: center;
}
phc-sermon-player .video-player-container .video-player {
  margin: 0 auto;
  width: 1000px !important;
  height: auto !important;
  max-width: 100vw;
  aspect-ratio: 16/9;
}
phc-sermon-player .video-player-container .video-player img {
  display: block;
  width: 100%;
  height: 100%;
}
phc-sermon-player .video-player-container .video-player svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 3rem;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5333333333));
}
phc-sermon-player .sermon-details {
  width: 1500px;
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #ecf0f1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 18px;
}
phc-sermon-player .sermon-details h3 {
  margin-top: 1rem;
}
phc-sermon-player .sermon-details .title-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
phc-sermon-player .sermon-details .title-row h1,
phc-sermon-player .sermon-details .title-row p {
  margin: 0;
}
phc-sermon-player .sermon-details .title-row .sermon-links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
phc-sermon-player .sermon-details .title-row .sermon-links-container a,
phc-sermon-player .sermon-details .title-row .sermon-links-container button {
  padding: 0.75rem 1rem;
  text-decoration: none;
  border: none;
  background-color: #7B2D26;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  height: -moz-max-content;
  height: max-content;
}
phc-sermon-player .other-sermons {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  overflow-x: auto;
  background-color: rgba(50, 50, 50, 0.25);
}
phc-sermon-player .other-sermons a {
  text-decoration: none;
  flex-shrink: 0;
  position: relative;
  width: 33%;
  max-width: 500px;
}
phc-sermon-player .other-sermons a img {
  display: block;
  width: 100%;
}
phc-sermon-player .other-sermons a .sermon-image-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem;
  opacity: 0;
  transition: opacity 150ms linear;
}
phc-sermon-player .other-sermons a .sermon-image-overlay:hover {
  opacity: 1;
}
phc-sermon-player .other-sermons a .sermon-image-overlay h1 {
  margin: 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: white;
}
phc-sermon-player .other-sermons a .sermon-image-overlay p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  phc-sermon-player .sermon-details .title-row {
    flex-direction: column;
    gap: 0.5rem;
  }
  phc-sermon-player .other-sermons {
    justify-content: flex-start !important;
  }
  phc-sermon-player .other-sermons a {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  phc-sermon-player .other-sermons a {
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */