<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
</head>
<body>
    <div id="logs-stream-output"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Connect to the server
        const socket = io('/logs');
        const logOutputDOM = document.getElementById('logs-stream-output');
    
        // Listen for events from the server or send events to the server
        socket.on('logs', (data) => {
            logOutputDOM.innerHTML = data.map(text => `
                <pre class="logs-stream-text">${text}</pre>
            `).join('');
            logOutputDOM.scroll(0, logOutputDOM.scrollHeight);
        });
    </script>    
</body>
</html>