// $backgroundColor: hsl(200, 4%, 14%);

// $primary-font-color: #f1f2f6;
// $secondary-font-color: #17161d;

// $primary-bg-color: hsl(0, 1%, 21%);
// $secondary-bg-color: hsl(0, 1%, 36%);

// $red-accent-color: #e74c3c;
// $blue-accent-color: #3498db;
// $blue-accent-color2: #2980b9;
// $arrow-button-color: gray;

$backgroundColor: #ecf0f1;

$primary-font-color: #17161d;
$secondary-font-color: #f1f2f6;

$primary-bg-color: lightgray;
$secondary-bg-color: gray;

$red-accent-color: #e74c3c;
$blue-accent-color: #3498db;
$blue-accent-color2: #2980b9;
$green-accent-color: #27ae60;
$arrow-button-color: gray;