$backgroundColor-0: #1e3240;
$backgroundColor-1: #2c3e50;
$backgroundColor-2: #354a60;
$backgroundColor: $backgroundColor-1;

$primaryAccent-0: #62241e;
$primaryAccent-1: #7B2D26;
$primaryAccent-2: #94362e;
$primaryAccent: $primaryAccent-1;

$primary-font-color: #17161d;
$secondary-font-color: #f1f2f6;

$red-accent-color: #e74c3c;
$blue-accent-color: #3498db;
$blue-accent-color2: #2980b9;
$green-accent-color: #27ae60;
$arrow-button-color: gray;